In [58]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [59]:

df = pandas.read_csv('ensemble_learning_format2.csv')
names = solution_df.columns
names=names[2:]
names

Index(['Sub_1_87733', 'Sub_2_77585', 'Sub_3_84310', 'Sub_4_87863',
       'Sub_5_87455', 'Sub_6_87866', 'Sub_7_87869', 'Sub_8_87871',
       'Sub_9_87873', 'Sub_10_87871', 'Sub_11_88247', 'Sub_12_87205',
       'Sub_13_86602', 'Sub_14_89658', 'Sub_15_61561', 'Sub_16_89210',
       'Sub_17_49474', 'Sub_18_50804', 'Sub_19_84507', 'Sub_20_84507',
       'Sub_21_82108', 'Sub_22_82108', 'Sub_23_84398'],
      dtype='object')

In [72]:
df

,Unnamed: 0,TrackID,Sub_1_87733,Sub_2_77585,Sub_3_84310,Sub_4_87863,Sub_5_87455,Sub_6_87866,Sub_7_87869,Sub_8_87871,...,Sub_14_89658,Sub_15_61561,Sub_16_89210,Sub_17_49474,Sub_18_50804,Sub_19_84507,Sub_20_84507,Sub_21_82108,Sub_22_82108,Sub_23_84398
0,0,199810_208019,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,1.0,-1,-1,-1,-1,-1
1,1,199810_74139,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1,-1
2,2,199810_9903,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1,-1
3,3,199810_242681,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,1.0,-1,-1,-1,-1,-1
4,4,199810_18515,1.0,-1,1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,1.0,1.0,1.0,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,119995,249010_72192,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1,-1
119996,119996,249010_86104,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1,-1
119997,119997,249010_186634,1.0,1,1,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,-1,-1,-1,-1,-1
119998,119998,249010_293818,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1,-1
119999,119999,249010_262811,1.0,1,1,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,-1,-1,-1,-1,-1

In [60]:
S = df[names].values

len(np.array(S))

120000

In [61]:
score_list=['87733', '77585', '84310', '87863',
       '87455', '87866', '87869', '87871',
       '87873', '87871', '88247', '87205',
       '86602', '89658', '61561', '89210',
       '49474', '50804', '84507', '84507',
       '82108', '82108', '84398']
scores=[]
for i in score_list:
    score=int(i)/100000
    scores.append(score)
scores

[0.87733,
 0.77585,
 0.8431,
 0.87863,
 0.87455,
 0.87866,
 0.87869,
 0.87871,
 0.87873,
 0.87871,
 0.88247,
 0.87205,
 0.86602,
 0.89658,
 0.61561,
 0.8921,
 0.49474,
 0.50804,
 0.84507,
 0.84507,
 0.82108,
 0.82108,
 0.84398]

In [62]:
N = len(S)    # 120,000 rows in this case
ST_x = []

# Generate S(transpose) * x -> N(2P_i - 1)
ST_x = [N * (2 * P - 1) for P in scores]    # list comprehension

# Generate S(transpose) * S
ST_S = np.dot(S.T, S).astype('float') + np.eye(S.shape[1]) * (10 ** -6)    # to prevent singular matrices

# Generate (S(transpose) * S)^-1
ST_S_inv = np.linalg.inv(ST_S)

# Generate a_LS = (S(transpose) * S)^-1 * N(2P_i - 1) 
# a_LS is the Least Squares solution
a_LS = np.dot(ST_S_inv, ST_x)

In [63]:
a_LS

array([ 1.06539878e+00, -6.32673097e+00, -2.80813643e+00, -3.64929685e-02,
        3.82803825e-01,  8.72717885e-01, -1.40255784e+00,  4.55778826e-01,
        2.47379899e-01,  4.07940768e+00,  3.04089557e-01,  7.09647868e-01,
       -2.37416973e-01,  3.20074787e-01,  5.54275049e+00,  3.19408012e+00,
        1.11250899e+00,  2.24963954e-01,  2.35536869e+09,  2.35545326e+09,
       -3.40228060e+09, -3.40229219e+09,  2.09375086e+09])

In [64]:
s_ensemble = np.dot(S, a_LS)

In [65]:
s_ensemble

array([-3.59190178, -0.39751625, -1.81681156, ...,  0.74803829,
       -1.81681156,  0.74803829])

In [66]:
s_ensemble_len = len(s_ensemble)    # store length of s_ensemble
s_ensemble_len

120000

In [67]:
final_predictions = np.zeros(s_ensemble_len)    # initialize final solution with list of zeroes

In [68]:
# Loop through all 6 tracks for each user to get top 3 for each user
for index in range(s_ensemble_len // 6):    # floor division
    # Threshold is the third element in the sorted array
    user_score_threshold = np.sort(s_ensemble[index * 6 : index * 6 + 6])[2]    # sort the 6 values for each user and grab the third element
    for index_user in range(6):
        if s_ensemble[index * 6 + index_user] > user_score_threshold:
            final_predictions[index * 6 + index_user] = 1    # set top 3 to 1 (other 3 will be 0)

In [69]:
# Generate the final prediction df
final_predictions_df = pd.DataFrame(solutions_df.iloc[:,0])    # make new df using first column of solutions_df
final_predictions_df['Predictor'] = np.array(final_predictions, dtype=int)

In [73]:
prediction_df=pd.DataFrame()
prediction_df['TrackID']=df['TrackID']

In [74]:
prediction_df['Predictor']=final_predictions_df['Predictor']

In [77]:
prediction_df.to_csv('Ensembling_Learning.csv')