In [2]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [5]:

df = pd.read_csv('PREPARED_DATA_ENSEMBLING.csv')
names =df.columns
names=names[2:]
names

Index(['Sub_2_77585', 'Sub_3_84310', 'Sub_4_87863', 'Sub_5_87455',
       'Sub_6_87866', 'Sub_7_87869', 'Sub_8_87871', 'Sub_9_87873',
       'Sub_10_87871', 'Sub_11_88247', 'Sub_12_87205', 'Sub_13_86602',
       'Sub_14_89658', 'Sub_15_61561', 'Sub_16_89210', 'Sub_17_49474',
       'Sub_18_50804', 'Sub_20_84507', 'Sub_21_82108', 'Sub_22_82108',
       'Sub_23_84398'],
      dtype='object')

In [6]:
df

,TrackID,Sub_1_87733,Sub_2_77585,Sub_3_84310,Sub_4_87863,Sub_5_87455,Sub_6_87866,Sub_7_87869,Sub_8_87871,Sub_9_87873,...,Sub_13_86602,Sub_14_89658,Sub_15_61561,Sub_16_89210,Sub_17_49474,Sub_18_50804,Sub_20_84507,Sub_21_82108,Sub_22_82108,Sub_23_84398
0,199810_208019,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
1,199810_74139,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1
2,199810_9903,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1
3,199810_242681,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,-1.0,1.0,1,1,1,1
4,199810_18515,1.0,-1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,1.0,1.0,1.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,249010_72192,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
119996,249010_86104,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
119997,249010_186634,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1
119998,249010_293818,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,1,1,1,1
119999,249010_262811,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1

In [16]:
S = df[names].values

len(np.array(S))
len(S[0])

21

In [13]:
score_list=['87733', '77585', '84310', '87863',
       '87455', '87866', '87869', '87871',
       '87873', '87871', '88247', '87205',
       '86602', '89658', '61561', '89210',
       '49474', '50804','84507',
       '82108', '82108', '84398']   
scores=[]
for i in score_list:
    score=int(i)/100000
    scores.append(score)
len(scores)

22

In [14]:
N = len(S)    # 120,000 rows in this case
ST_x = []

# Generate S(transpose) * x -> N(2P_i - 1)
ST_x = [N * (2 * P - 1) for P in scores]    # list comprehension

# Generate S(transpose) * S
ST_S = np.dot(S.T, S).astype('float') + np.eye(S.shape[1]) * (10 ** -6)    # to prevent singular matrices

# Generate (S(transpose) * S)^-1
ST_S_inv = np.linalg.inv(ST_S)

# Generate a_LS = (S(transpose) * S)^-1 * N(2P_i - 1) 
# a_LS is the Least Squares solution
a_LS = np.dot(ST_S_inv, ST_x)

ValueError: shapes (21,21) and (22,) not aligned: 21 (dim 1) != 22 (dim 0)

In [13]:
a_LS

array([ 1.38965385e+10, -1.04587570e+10,  5.68126470e+09,  1.42083730e+10,
        1.32287944e+10,  1.42148587e+10,  1.42223263e+10,  1.42272179e+10,
        1.42335165e+10,  1.42282279e+10,  1.51300234e+10,  1.26286822e+10,
        1.11826873e+10,  1.85161219e+10, -4.89160008e+10,  1.74407407e+10,
       -7.79248317e+10, -7.47337614e+10,  6.15413113e+09,  6.15416078e+09,
        3.96535890e+08,  3.96569049e+08,  5.89258053e+09])

In [14]:
s_ensemble = np.dot(S, a_LS)

In [15]:
s_ensemble

array([-0.63887024, -0.63887024, -0.63887024, ..., -0.63887024,
       -0.63887024, -0.63887024])

In [16]:
s_ensemble_len = len(s_ensemble)    # store length of s_ensemble
s_ensemble_len

120000

In [17]:
final_predictions = np.zeros(s_ensemble_len)    # initialize final solution with list of zeroes

In [18]:
# Loop through all 6 tracks for each user to get top 3 for each user
for index in range(s_ensemble_len // 6):    # floor division
    # Threshold is the third element in the sorted array
    user_score_threshold = np.sort(s_ensemble[index * 6 : index * 6 + 6])[2]    # sort the 6 values for each user and grab the third element
    for index_user in range(6):
        if s_ensemble[index * 6 + index_user] > user_score_threshold:
            final_predictions[index * 6 + index_user] = 1    # set top 3 to 1 (other 3 will be 0)

In [19]:
# Generate the final prediction df
final_predictions_df = pd.DataFrame(solutions_df.iloc[:,0])    # make new df using first column of solutions_df
final_predictions_df['Predictor'] = np.array(final_predictions, dtype=int)

NameError: name 'solutions_df' is not defined

In [73]:
prediction_df=pd.DataFrame()
prediction_df['TrackID']=df['TrackID']

In [74]:
prediction_df['Predictor']=final_predictions_df['Predictor']

In [77]:
prediction_df.to_csv('Ensembling_Learning.csv')