In [1]:
import numpy as np
import pandas as pd

In [2]:
df_1_87733=pd.read_csv('1-0.87733.csv')
df_2_77585=pd.read_csv('2-0.77585.csv')
df_3_84310=pd.read_csv('3-0.84310.csv')
df_4_87863=pd.read_csv('4-0.87863.csv')
df_5_87455=pd.read_csv('5-0.87455.csv')
df_6_87866=pd.read_csv('6-0.87866.csv')
df_7_87869=pd.read_csv('7-0.87869.csv')
df_8_87871=pd.read_csv('8-0.87871.csv')
df_9_87873=pd.read_csv('9-0.87873.csv')
df_10_87871=pd.read_csv('10-0.87871.csv')
df_11_88247=pd.read_csv('11-0.88247.csv')
df_12_87205=pd.read_csv('12-0.87205.csv')
df_13_86602=pd.read_csv('13-0.86602.csv')
df_14_89658=pd.read_csv('14-0.89658.csv')
df_15_61561=pd.read_csv('15-0.61561.csv')
df_16_89210=pd.read_csv('16-0.89210.csv')
df_17_49474=pd.read_csv('17-0.49474.csv')
df_18_50804=pd.read_csv('18-0.50804.csv')
df_19_84507=pd.read_csv('19-0.84507.csv')
df_20_84507=pd.read_csv('20_logical_regression_84507.csv')
df_21_82108=pd.read_csv('21_decision_tree_82108.csv')
df_22_82108=pd.read_csv('22_random_forest_82108.csv')
df_23_84398=pd.read_csv('23_gradient_boosted_tree_84398.csv')

In [3]:
previous_submissions=pd.DataFrame()
previous_submissions['TrackID']=df_1_87733['TrackID']
previous_submissions['Sub_1_87733']=df_1_87733['Predictor']
previous_submissions['Sub_2_77585']=df_2_77585['Predictor']
previous_submissions['Sub_3_84310']=df_3_84310['Predictor']
previous_submissions['Sub_4_87863']=df_4_87863['Predictor']
previous_submissions['Sub_5_87455']=df_5_87455['Predictor']
previous_submissions['Sub_6_87866']=df_6_87866['Predictor']
previous_submissions['Sub_7_87869']=df_7_87869['Predictor']
previous_submissions['Sub_8_87871']=df_8_87871['Predictor']
previous_submissions['Sub_9_87873']=df_9_87873['Predictor']
previous_submissions['Sub_10_87871']=df_10_87871['Predictor']
previous_submissions['Sub_11_88247']=df_11_88247['Predictor']
previous_submissions['Sub_12_87205']=df_12_87205['Predictor']
previous_submissions['Sub_13_86602']=df_13_86602['Predictor']
previous_submissions['Sub_14_89658']=df_14_89658['Predictor']
previous_submissions['Sub_15_61561']=df_15_61561['Predictor']
previous_submissions['Sub_16_89210']=df_16_89210['Predictor']
previous_submissions['Sub_17_49474']=df_17_49474['Predictor']
previous_submissions['Sub_18_50804']=df_18_50804['Predictor']
previous_submissions['Sub_19_84507']=df_19_84507['Predictor']

previous_submissions['Sub_20_84507']=df_20_84507['Predictor']
previous_submissions['Sub_21_82108']=df_21_82108['Predictor']
previous_submissions['Sub_22_82108']=df_22_82108['Predictor']
previous_submissions['Sub_23_84398']=df_23_84398['Predictor']

In [4]:
columns_list=previous_submissions.columns[1:19]
columns_list

Index(['Sub_1_87733', 'Sub_2_77585', 'Sub_3_84310', 'Sub_4_87863',
       'Sub_5_87455', 'Sub_6_87866', 'Sub_7_87869', 'Sub_8_87871',
       'Sub_9_87873', 'Sub_10_87871', 'Sub_11_88247', 'Sub_12_87205',
       'Sub_13_86602', 'Sub_14_89658', 'Sub_15_61561', 'Sub_16_89210',
       'Sub_17_49474', 'Sub_18_50804'],
      dtype='object')

In [5]:
all_features=pd.read_csv('8_Features.csv')
all_features=all_features[all_features.columns[1:]]
all_features

,UserID,TrackId,AlbumId,ArtistId,Track,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6
0,199810,208019,0,0,0,0,0,0,0,0,0
1,199810,74139,0,0,0,0,80,0,0,0,0
2,199810,9903,0,0,0,0,0,0,0,0,0
3,199810,242681,0,0,0,0,0,0,0,0,0
4,199810,18515,0,70,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
119995,249010,72192,0,0,0,0,0,0,0,0,0
119996,249010,86104,0,0,0,0,0,0,0,0,0
119997,249010,186634,90,90,0,0,0,0,0,0,0
119998,249010,293818,0,0,0,0,0,0,0,0,0
119999,249010,262811,90,90,0,0,0,0,0,0,0

In [6]:
feature_columns=all_features.columns[2:]
feature_columns

Index(['AlbumId', 'ArtistId', 'Track', 'Genre1', 'Genre2', 'Genre3', 'Genre4',
       'Genre5', 'Genre6'],
      dtype='object')

In [7]:
feature_engineering1=pd.DataFrame()
feature_engineering1['UserID']=all_features['UserID']
feature_engineering1['TrackId']=all_features['TrackId']
feature_engineering1['AlbumId']=all_features['AlbumId']
feature_engineering1['ArtistId']=all_features['ArtistId']
feature_engineering1['max']=all_features[feature_columns].max(axis=1)
feature_engineering1['min']=all_features[feature_columns].min(axis=1)
feature_engineering1['mean']=all_features[feature_columns].mean(axis=1)
feature_engineering1['variance']=all_features[feature_columns].var(axis=1)
feature_engineering1['median']=all_features[feature_columns].median(axis=1)
feature_engineering1
feature_engineering1.to_csv('ML_Test_Data.csv',index=None)

In [8]:
feature_engineering=pd.DataFrame()
feature_engineering['max']=previous_submissions[columns_list].max(axis=1)
feature_engineering['min']=previous_submissions[columns_list].min(axis=1)
feature_engineering['mean']=previous_submissions[columns_list].mean(axis=1)
feature_engineering['variance']=previous_submissions[columns_list].var(axis=1)
feature_engineering['median']=previous_submissions[columns_list].median(axis=1)

feature_engineering

               max   min       mean     variance     median
0       228.195105   0.0  23.479596  4130.156023   0.000000
1       122.368312   0.0  16.206124  1210.854550   0.000000
2       228.195105   0.0  15.311456  2947.110991   0.000000
3       228.195105   0.0  23.103271  4242.140443   0.000000
4        70.000000   0.0  26.750202   582.214135  20.459500
...            ...   ...        ...          ...        ...
119995  349.998440   0.0  39.593528  9673.047589   0.000000
119996  259.999820   0.0  29.900626  6240.099605   0.000000
119997  260.243855  20.0  89.169071  4162.671610  59.218423
119998  228.195105   0.0  16.205701  3022.292060   0.000000
119999  260.243855  20.0  86.241868  3793.105394  72.404450

[120000 rows x 5 columns]

In [9]:
a=list(range(0,len(previous_submissions),6))
previous_submissions['Sub_14_89658'].loc[a[1]:a[1]+5]

6      0.0000
7     80.3040
8     83.3570
9      7.1351
10    30.5910
11     0.0000
Name: Sub_14_89658, dtype: float64

In [10]:
prev_sub=pd.read_csv('OUTPUT_SummationFeatures_Feature_Engineering (2).csv')
prev_sub

              TrackId  Predictor
0       199810_208019     0.0000
1        199810_74139    16.5000
2         199810_9903     0.0000
3       199810_242681     0.0000
4        199810_18515    32.1125
...               ...        ...
119995   249010_72192     0.0000
119996   249010_86104     0.0000
119997  249010_186634    96.8625
119998  249010_293818     0.0000
119999  249010_262811    96.8625

[120000 rows x 2 columns]

In [11]:
df=pd.DataFrame(prev_sub['Predictor'])
df_list=[]

for i in range(0,len(df),6):
    new=pd.DataFrame()
    new=(df.loc[i:i+5].replace(df['Predictor'].loc[i:i+5].nlargest(3).values,1))
    df_list.append(new['Predictor'].values)

#     df_list.append(a)
# print(df_list[0][0])

In [12]:
newdf_list=[]
for i in df_list:
    for a in i:
        if a==1:
            newdf_list.append(a)
        else:
            newdf_list.append(0)

In [14]:
df_prediction=pd.DataFrame()
df_prediction['TrackID']=previous_submissions['TrackID']
df_prediction['Predictor']=newdf_list
df_prediction.to_csv('FEATURE_ENGINEERING.csv',index=None)

In [42]:
k=0
for i in columns_list:
    df=pd.DataFrame(previous_submissions[i])
    a=df[i].loc[l:l+5]).nlargest(3)
    for k in a:
        previous_submissions[i].loc[l:l+5]).nlargest(3).

        k=k+6
        print(a)

TypeError: 'int' object is not iterable

In [57]:
previous_submissions

,TrackID,Sub_1_87733,Sub_2_77585,Sub_3_84310,Sub_4_87863,Sub_5_87455,Sub_6_87866,Sub_7_87869,Sub_8_87871,Sub_9_87873,...,Sub_14_89658,Sub_15_61561,Sub_16_89210,Sub_17_49474,Sub_18_50804,Sub_19_84507,Sub_20_84507,Sub_21_82108,Sub_22_82108,Sub_23_84398
0,199810_208019,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,29.543491,164.894130,0,0,0,0,0
1,199810_74139,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,4.2118,122.368312,16.5000,59.741226,0.000000,0,0,0,0,0
2,199810_9903,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,47.411110,0.000000,0,0,0,0,0
3,199810_242681,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,16.236027,171.427750,1,1,1,1,1
4,199810_18515,35.0,0,70,10.5,24.5,8.75,7.0,5.25,3.5,...,16.4190,47.296141,32.1125,37.896255,30.251957,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,249010_72192,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,134.489960,349.998440,0,0,0,0,0
119996,249010_86104,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,50.016346,259.999820,0,0,0,0,0
119997,249010_186634,90.0,90,90,45.0,45.0,45.00,45.0,45.00,45.0,...,64.8090,260.243855,96.8625,53.627846,160.000080,1,1,1,1,1
119998,249010_293818,0.0,0,0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0000,228.195105,0.0000,63.507515,0.000000,1,1,1,1,1
119999,249010_262811,90.0,90,90,45.0,45.0,45.00,45.0,45.00,45.0,...,64.8090,260.243855,96.8625,80.938370,79.999900,1,1,1,1,1

In [10]:
columns_list=previous_submissions.columns[1:20]
previous_submissions2=previous_submissions[columns_list]
for i in columns_list:
    previous_submissions2[i].mask(previous_submissions2[i]<=25, -1, inplace=True)
    previous_submissions2[i].mask(previous_submissions2[i]>25, 1, inplace=True)
previous_submissions2

C:\Users\okanc\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,Sub_1_87733,Sub_2_77585,Sub_3_84310,Sub_4_87863,Sub_5_87455,Sub_6_87866,Sub_7_87869,Sub_8_87871,Sub_9_87873,Sub_10_87871,Sub_11_88247,Sub_12_87205,Sub_13_86602,Sub_14_89658,Sub_15_61561,Sub_16_89210,Sub_17_49474,Sub_18_50804
0,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0
1,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0
2,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0
3,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0
4,1.0,-1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0
119996,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0
119997,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0
119998,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0
119999,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
# columns_list2=previous_submissions.columns[20:]
# columns_list2

In [7]:
# new_df=pd.DataFrame()
# new_df['TrackID']=previous_submissions['TrackID']
# new_df[columns_list2]=previous_submissions[columns_list2]

# for i in columns_list2:
#     new_df[i].mask(new_df[i]==0, -1, inplace=True)
# new_df

In [15]:
submission=pd.DataFrame()
submission['TrackID']=previous_submissions['TrackID']
submission[columns_list]=previous_submissions2[columns_list]
submission[new_df.columns[1:]]=new_df[new_df.columns[1:]]
submission

,TrackID,Sub_1_87733,Sub_2_77585,Sub_3_84310,Sub_4_87863,Sub_5_87455,Sub_6_87866,Sub_7_87869,Sub_8_87871,Sub_9_87873,...,Sub_13_86602,Sub_14_89658,Sub_15_61561,Sub_16_89210,Sub_17_49474,Sub_18_50804,Sub_20_84507,Sub_21_82108,Sub_22_82108,Sub_23_84398
0,199810_208019,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
1,199810_74139,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1
2,199810_9903,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1,-1,-1,-1
3,199810_242681,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,-1.0,1.0,1,1,1,1
4,199810_18515,1.0,-1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,1.0,1.0,1.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,249010_72192,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
119996,249010_86104,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,1.0,-1,-1,-1,-1
119997,249010_186634,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1
119998,249010_293818,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,1,1,1,1
119999,249010_262811,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1

In [45]:
# new_sub=pd.DataFrame()
# new_sub['TrackID']=previous_submissions['TrackID']
# new_sub['Predictor']=previous_submissions['Sub_19_84507']
# new_sub.to_csv('OUTPUT_19.csv',index=False)

In [46]:
# columns_list=previous_submissions.columns[1:]

# for i in columns_list:
#     previous_submissions[i].mask(previous_submissions[i]<=25, -1, inplace=True)
#     previous_submissions[i].mask(previous_submissions[i]>25, 1, inplace=True)

# previous_submissions

In [17]:
submission.to_csv('PREPARED_DATA_ENSEMBLING.csv',index=None)